/** COMMONS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dcdbd2;
    font-family: 'Roboto', sans-serif;
}

body::before{
    display: block;
    content: '';
    height: 20vh;
    width: 100%;
    background-color: #009688;
}

.pointer:hover{
    cursor: pointer;
}

.list-none{
    list-style: none;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.float-l{
    float: left;
}

.float-r{
    float: right;
}

/** MAIN CONTAINER CONFIGURATION */
.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
    width: 80%;
}

.left-side{
    height: 100%;
    width: 400px;
    border-right: 1px solid lightgray;
}

.left-side > *,
.right-side > *{
    padding: 10px;
}

/* HEADER */
header{
    width: 100%;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.avatar{
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

header .icons i{
    margin: 0 8px;
    font-size: 1.3rem;
    color: gray;
}

/* NOTIFY */
.notify{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #8edafc;
    padding: 15px;
}

.notify .bell{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #8edafc;
    font-size: 1.3rem;
    margin: 0 10px;
}

.description a{
    font-size: 0.7rem;
    color: grey;
}

/* CHAT SRC */
.chat-src{
    background-color: #fafafa;
}

.chat-src > *{
    border: none;
    padding: 5px 20px;
    background-color: white;
    color: grey;
}

.chat-src input{
    width: 80%;
}

/* USERS LIST */
#users-list{
    overflow-y: scroll;
    height: calc(100% - 186px);
}

#users-list ul li:not(:last-child){
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid lightgray;
}





/*! ------DEBUG------ */
.debug .container{
    background-color: red;
}
/* .debug .left-side{
    background-color: yellow;
} */