/** COMMONS */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #dcdbd2;
    font-family: 'Roboto', sans-serif;
}

body::before{
    display: block;
    content: '';
    height: 20vh;
    width: 100%;
    background-color: #009688;
}

i:hover,
.pointer:hover{
    cursor: pointer;
}

.list-none{
    list-style: none;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

.float-l{
    float: left;
}

.float-r{
    float: right;
}

/** MAIN CONTAINER CONFIGURATION */
.container{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 95vh;
    width: 80%;
    background-color: #fff;
}

.left-side{
    height: 100%;
    width: 400px;
    border-right: 1px solid lightgray;
}

.right-side{
    height: 100%;
    width: calc(100% - 400px);
}

.left-side > *,
.right-side > *{
    padding: 10px;
}

/** LEFT SIDE */
/* HEADER */
header{
    width: 100%;
    background-color: #eaeaea;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

img.avatar{
    height: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

header .icons i{
    margin: 0 8px;
    font-size: 1.3rem;
    color: gray;
}

/* NOTIFY */
.notify{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    background-color: #8edafc;
    padding: 15px;
}

.notify .bell{
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
    color: #8edafc;
    font-size: 1.3rem;
    margin: 0 10px;
}

.description a{
    font-size: 0.7rem;
    color: grey;
}

/* CHAT SRC */
.chat-src{
    background-color: #fafafa;
}

.chat-src > *{
    border: none;
    padding: 5px 20px;
    background-color: white;
    color: grey;
}

.chat-src input{
    width: 80%;
}

/* USERS LIST */
#users-list{
    overflow-y: scroll;
    padding: 0;
    height: calc(100% - 186px);
}

#users-list ul li{
    padding: 10px;
    border-bottom: 1px solid #f6f6f6;
}

#users-list ul li:hover{
    background-color: #f5f5f5;
}

/** RIGHT SIDE */
/* HEADER */
.user{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.user .description{
    margin-left: 10px;
}

.last-seen{
    font-size: 0.8rem;
    color: grey;
}

/* CHAT */
.chat{
    height: calc(100% - 140px);
    width: 100%;
    background-image: url('../img/mine.jpg');
    overflow-y: scroll;
    padding: 20px 50px;
}

.sent,
.received{
    display: inline-block;
    padding: 15px 20px;
    min-width: 300px;
    max-width: 50%;
    border-radius: 10px;
    position: relative;
    margin-bottom: 10px;
}

.sent{
    background-color: #DCF8C6;
    float: right;
}

.received{
    background-color: #fff;
    float: left;
}

.date-time-msg{
    position: absolute;
    bottom: 0;
    right: 15px;
    font-size: 0.7rem;
    color: gray;
}


/* MESSAGE */
.message{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 70px;
    width: 100%;
    background-color: #eaeaea;
    font-size: 1.5rem;
    color: gray;
}

.message input{
    width: 85%;
    padding: 20px 15px;
    border-radius: 10px;
    border: none;
}








/*! ------DEBUG------ */
