<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Boolzapp</title>
    <!-- My style -->
    <link rel="stylesheet" href="css/style.css">
    <!-- Font -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap" rel="stylesheet"> 
    <!-- Fontawesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <!-- Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body class="debug">
    
    <!-- inizio contenitore principale -->
    <div id="app" class="container clearfix">
        
        <!-- inizio colonna sinistra -->
        <section class="left-side float-l">
            <!-- inizio header sx -->
            <header>
                <div class="user">
                    <img class="avatar" src="img/avatar_io.jpg" alt="user avatar">
                    <span class="user-name">Matteo Rizza</span>
                </div>
                <div class="icons">
                    <i class="fas fa-circle-notch"></i>
                    <i class="fas fa-comment-alt"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </header>
            <!-- fine header sx -->

            <!-- inizio sezione notifiche -->
            <section class="notify">
                <div class="bell">
                    <i class="fas fa-bell-slash"></i>
                </div>
                <div class="description">
                    <h5>Ricevi notifiche di nuovi messaggi</h5>
                    <a href="#">Attiva notifiche desktop</a>
                </div>
            </section>
            <!-- fine sezione notifiche -->

            <!-- inizio sezione ricerca chat -->
            <section class="chat-src">
                <label for="src-chat" class="pointer" @click="filterUser"><i class="fas fa-search"></i></label>
                <input name="src-chat" type="text" placeholder="Cerca o inizia una nuova chat" @keyup="filterUser" v-model="userFilter">
            </section>
            <!-- fine sezione ricerca chat -->

            <!-- inizio sezione lista studenti -->
            <section id="users-list">
                <ul class="list-none">
                    <!-- use v-for to auto-fill the list -->
                    <li v-for="(user,index) in contacts" v-if="user.visible" :class="(index == selUser) ? 'user-select' : ''" class="pointer" @click="selectUser(index)">
                        <!-- inizio dati utente -->
                        <div class="user">
                            <img class="avatar" :src="'img/avatar' +  user.avatar + '.jpg'" :alt="user.name">
                            <div class="description">
                                <div class="user-name">{{user.name}}</div>
                                <div class="last-seen">{{user.lastMsg}}</div>
                            </div>
                        </div>
                        <!-- fine dati utente -->

                        <!-- ora ultimo accesso -->
                        <div class="last-hour">{{user.lastSeen}}</div>
                    </li>
                </ul>
            </section>
            <!-- fin sezione lista studenti -->
        </section>
        <!-- fine colonna sinistra -->

        <!-- inizio colonna destra -->
        <section class="right-side float-l">
            <!-- inizio header dx -->
            <header>
                <div class="user">
                    <img class="avatar" :src="'img/avatar' + contacts[selUser].avatar + '.jpg'" alt="user avatar">
                    <div class="description">
                        <div>{{contacts[selUser].name}}</div>
                        <div class="last-seen">Ultimo accesso: {{contacts[selUser].lastSeen}}</div>
                    </div>
                </div>
                <div class="icons">
                    <i class="fas fa-search"></i>
                    <i class="fas fa-paperclip"></i>
                    <i class="fas fa-ellipsis-v"></i>
                </div>
            </header>
            <!-- fine header dx -->

            <!-- inizio sezione chat -->
            <section class="chat">
                <ul class="list-none">
                    <li v-for="(message, indice) in contacts[selUser].messages" class="clearfix">
                        <div :class="message.status">
                            {{message.text}}
                            <div class="date-time-msg">
                                {{message.date}}
                            </div>
                            <!-- inizio menu drop down -->
                            <div class="open-menu pointer" @click="msgMenu(indice)">
                                <i class="fas fa-chevron-down"></i>
                                <div :id="'dropDown' + indice" class="drop-menu d-none">
                                    <ul class="list-none">
                                        <li>Message info</li>
                                        <li @click="deleteMsg(indice)">Delete message</li>
                                    </ul>
                                </div>
                            </div>
                            <!-- fine menu drop down -->
                        </div>
                    </li>
                </ul>
            </section>
            <!-- fine sezione chat -->

            <!-- inizio sezione input messaggio -->
            <section class="message">
                <i class="far fa-smile"></i>
                <input id="msgText" type="text" placeholder="Scrivi un messaggio" v-model="userMessage" @keyup.enter="insertMsg">
                <i class="fas fa-microphone"></i>
            </section>
            <!-- fine sezione input messaggio -->
        </section>
        <!-- fine colonna destra -->

    </div>
    <!-- fine contenitore principale -->

    <!-- collegamento cdn day.js -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dayjs/1.10.5/dayjs.min.js" integrity="sha512-n6mJ6AqoohFfbgx3x7N162B/zRNs5x8uvsStlHC+LCvqwKW7oiucE07Ehatg62ybx6Vo1ctaZwm/4sSRUTSIQA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <!-- collegamento a my script -->
    <script src="js/script.js"></script>
</body>
</html>